
@{
    ViewBag.Title = "موفق";
}

<h2 style="font-family: 'Times New Roman'; font-weight: bold">موفق</h2>
<hr/>
<div class="alert alert-success text-center text-weight-strong">
    <h3>کاربر عزیز ثبت نام شما با موفقیت انجام شد ، برای ورود به سایت <a href="/Account/Login" class="btn btn-primary">اینجا </a> کلیک کنید</h3>
    
</div>

