
@{
    ViewBag.Title = "SuccessSave";
}


        <div class="alert alert-success text-center">
           مشتری گرامی پیش فاکتور شما با موفقیت ثبت گردید،طی 24 ساعت آینده جهت نهایی کردن پیش فاکتور با شما تماس خواهد گرفته شد
        </div>
  

