
@{
    ViewBag.Title = "موفق";
}

<h2 style="font-family: 'Times New Roman'">موفق</h2>
<hr />
<div class="alert alert-success">
    <p> نظر شما با موفقیت ثبت شد،پس از تائید مدیریت نمایش داده خواهد شد.</p>
    <p> با تشکر</p>
</div>

